general =
{
    name = "${name}";
log_verbosity = 0;
};

alsa =
{
  output_device = "${device}";
};

sessioncontrol =
{
  run_this_before_play_begins = "/volumio/app/plugins/music_service/airplay_emulation/startairplay";
  run_this_after_play_ends = "/volumio/app/plugins/music_service/airplay_emulation/stopairplay";
  allow_session_interruption = "yes";
};
metadata =
{
	enabled = "yes";
	include_cover_art = "yes";
	pipe_name = "/tmp/shairport-sync-metadata";
	pipe_timeout = 5000;
	socket_port = "5555";
	socket_msglength = "65000";
}
