general =
{
    name = "${name}";
//log_verbosity = 0;
	log_verbosity = 3;
};

alsa =
{
  output_device = "${device}";
};

metadata =
{
	enabled = "yes";
	include_cover_art = "yes"
	socket_address = "226.0.0.1";
	socket_port = 5555;

}

sessioncontrol =
{
  run_this_before_play_begins = "/usr/bin/mpc stop";
  // 2016/11/30 not need below
  //run_this_before_play_begins = "/volumio/app/plugins/music_service/airplay_emulation/before.sh";
  //run_this_after_play_begins = "/volumio/app/plugins/music_service/airplay_emulation/after.sh";
  allow_session_interruption = "yes";
};

